{% extends 'portfolio/base.html' %}

{% block content %}

<div class="container" style="margin: 100px;">
        <div class="row">



            <div class="col-6">
                <img src="{{ project.image.url }}" width='300' height='300' alt="" class="img-fruid" style="object-fit: cover;">
            </div>



            <div class="col-6">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class='card-text'>{{ project.description }} </p>
                <h3><a href="{% url 'index' %}" style="text-decoration: none;">Back</a></h3>
            </div>



        </div>

    </div>


{% endblock %}